<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./output.css" rel="stylesheet">
  <title>Air Bnb</title>

</head>
<body>

    <header>
        <nav>
            <ul class="bg-red-600 flex text-white pl-30 h-10 items-center">
              <li class="mr-25"><a href="/">Go to Home</a></li>
               <li><a href="/host/add-home">Add Home</a></li>
            </ul>
        </nav>
    </header>

    <!-- main content -->
     <div class="shadow-xl/30 ... w-160 h-50 flex items-center justify-center relative left-150 top-50">
         <h1 class="font-medium text-2xl ...">Welcome to Airbnb</h1>
     </div>
</body>
</html>
    